# Virtual environment
qapi_env/
venv/
*.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and temp
*.log
*.pot
*.pyc
*.pkl
*.sqlite3
*.db

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker / env files
.env
.env.*
docker-compose.override.yml
